h1 {
  color: #333;
  font-family: Helvetica;font-size: 100px;
}
body{
  background-color: violet;
}
ul {
  color:black;
  padding: 10px;
}
li {
  display: inline;
  padding: 0px,10px,0px,10px;
}
header {
   text-align: center;
}
a {
  color: black
}
